* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App #App-title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

#seacrch-bar {
  width: 100%
}

#seacrch-bar input {
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #E3E4E3;
  border: none;
}
.tasks-area {
  display: flex;
  gap: 25px;
  justify-content: flex-start;

}
.task {
  background-color: #B2D7EF;
}
.task-add {
  background-color: #B8DEB9;
  min-width: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.task-add textarea {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
   background-color: #B8DEB9;
   border: none;
}

.task-add textarea:focus-visible{
  outline: none;
}
.task-add .task-add-footer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
}

.task-add .task-add-footer .btn {
  padding: 7px 10px;
  border: none;
 
  cursor: pointer;
}


.task-add .task-add-footer #btn-add {
 background-color: #2D6DB5;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.task-add .task-add-footer #btn-add:hover {
  background-color: #0b2c52;
}

.task .task-add-footer #btn-del {
 background-color:#E9493D;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.task .task-add-footer #btn-del:hover {
  background-color: rgb(96, 11, 11);
}

.task {
  background-color: #B2D7EF;
}
.task textarea {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
    background-color: #B2D7EF;
   border: none;
}
#btn-dark {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-dark:hover {
 background-color: #333;
 color: white;
}